<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>board_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,933},{141,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,53}</string>
			</dict>
			<key>boy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,341},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>boy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,602},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>boy3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,341},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>boy4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,748},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>boy5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,600},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>boy6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1245,341},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>fist.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,894},{116,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,127}</string>
			</dict>
			<key>guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,933},{54,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,59}</string>
			</dict>
			<key>light1.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,990},{23,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,22}</string>
			</dict>
			<key>light2.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,933},{46,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,48}</string>
			</dict>
			<key>line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,2},{640,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,335}</string>
			</dict>
			<key>plus1.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,933},{60,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,47}</string>
			</dict>
			<key>qiu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1079,487},{108,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>qiu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,746},{137,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,138}</string>
			</dict>
			<key>qiu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,604},{168,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,175}</string>
			</dict>
			<key>qiu4.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,604},{165,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,174}</string>
			</dict>
			<key>qiu5.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,487},{118,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,111}</string>
			</dict>
			<key>qiu6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,403},{640,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,387}</string>
			</dict>
			<key>score.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,990},{58,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,20}</string>
			</dict>
			<key>slogan.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{640,397}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,397}</string>
			</dict>
			<key>star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,984},{39,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,36}</string>
			</dict>
			<key>star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,984},{39,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,37}</string>
			</dict>
			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,341},{307,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,259}</string>
			</dict>
			<key>start1.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,794},{163,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,207}</string>
			</dict>
			<key>start2.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,783},{163,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,207}</string>
			</dict>
			<key>start3.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,782},{163,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,207}</string>
			</dict>
			<key>tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,794},{598,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{598,135}</string>
			</dict>
			<key>xunzhang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,487},{132,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{1409,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1409</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>