<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1452},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,726},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,726},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,0},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,0},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,1452},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,726},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,0},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1452},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,726},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,0},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1452},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,726},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,0},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1452},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,726},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,0},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1452},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,726},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10019.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,0},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1452},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,726},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
            <key>10022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{231,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,726}}</string>
                <key>sourceSize</key>
                <string>{231,726}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dribble.png</string>
            <key>size</key>
            <string>{1848,2178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa54760835cc707ec4bc8641ef91974e$</string>
            <key>textureFileName</key>
            <string>dribble.png</string>
        </dict>
    </dict>
</plist>
